<% @menus.each do |menu|%>
  <div class="col-md-4">
    <%= link_to root_path do %>
      <div class="card my-2 p-2">
        <div class="card-block">
          <%= image_tag(menu.item_detail.image,alt:"Card image cap", height: 200, class:"card-img-top") %>
          <div id="flag"><p class="cat"><%= menu.item_detail.category.name%><p></div>
          <div id="flag-like"><%= getLikeItemByUser(menu,current_user&.id)%></div>
          <div class="p-3">
            <div class="d-flex justify-content-between align-items-center my-2">
              <h6 class="card-subtitle text-muted"><%= menu.item_detail.name%></h6>
              <span class="bg-success text-light px-2 rounded rating">5.0 *</span>
            </div>
            <div class="d-flex justify-content-between" style="gap: 16px;"> 
              <p class="card-text col-md-8">Some quick example text to build on the card title .</p>
              <p class="col-md-4 item-price" >
                <span><small>₹<s><%= menu.price%> for one</s></small></span><br>
                <span class="discount-price text-success">
                  ₹200 <small class="text-danger">40% off</small>
                </span>
              </p>
            </div>
            <div class="item-button d-flex justify-content-end" style="gap: 5px;">
              <button class="btn btn-primary btn-sm">Buy Now</button>
              <%= link_to get_link_card(menu), add_cart_users_dashboard_index_path(menu_id: menu.id), method: :post, class:"btn btn-warning btn-sm add-card", id:"card-#{menu.id}"%>
              <!-- <button class="btn btn-warning btn-sm add-card" id="card-<%= menu.id%>">Add to Card</button> -->
              <div class="wrapper d-none" id="wrapper-<%= menu.id%>">
                <span class="minus"><i class="fa-solid fa-minus"></i></span>
                <span class="num" id="item_qty_<%= menu.id%>">1</span>
                <span class="plus"><i class="fa-solid fa-plus"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
<%end%>